@import "variables.less";
@footer-color: #222;
@footer-text: white;

footer {
  background-color: @footer-color;
  color: @footer-text;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.clickable{
  cursor: pointer;
}

/* Modal */
.taskmgr-modal-header{
    background-color:@blue-dark;
    color:white;
}