
<div layout="row" layout-align="center center" ng-if="vm.isBusy" id="loader">
    <md-progress-circular md-diameter="96"></md-progress-circular>
</div>
<table class="table table-hover table-striped" ng-if="!vm.isBusy">
    <thead>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Status</th>
            <th>Creation date</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Project</th>
            <th>Creator</th>
            <th>Contractor</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="task in vm.tasks" ng-click="vm.setSelectedTask(task)">
            <td>{{ task.title }}</td>
            <td>{{ vm.getTextFromEnum(vm.types, task.type) }}</td>
            <td>{{ vm.getTextFromEnum(vm.statuses, task.status) }}</td>
            <td>{{ task.creationDate }}</td>
            <td>{{ vm.getDate(task.startDate) | date:'short'}}</td>
            <td>{{ vm.getDate(task.endDate) | date:'short'}}</td>
            <td>{{ task._project.name }}</td>
            <td>{{ task._creator.name.last + ' ' + task._creator.name.first }}</td>
            <td>{{ task._contractor.name.last + ' ' + task._contractor.name.first }}</td>
        </tr>
    </tbody>
</table>