<md-dialog aria-label="Edit task popup" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">

                <!--<h3 class="modal-title">
                    {{vm.task.title}}
                </h3>-->

                <md-input-container style="margin-top:70px">
                    <label style="color: rgba(246, 246, 246, 0.68);">Title</label>
                    <input ng-model="vm.task.title" style="color:whitesmoke">
                </md-input-container>

                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <span class="glyphicon glyphicon-remove" style="font-size: 1.6em"></span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row">

                    <div class="col-md-5">
                        <label>Start date</label>
                        <md-datepicker class="fullwidth" ng-model="vm.startDatePopup.selectedDate" md-placeholder="Enter start date"></md-datepicker>
                        <br />
                        <label>End date</label>
                        <md-datepicker class="fullwidth" ng-model="vm.endDatePopup.selectedDate" md-placeholder="Enter end date"></md-datepicker>
                        <br />
                        <md-input-container class="fullwidth">
                            <label>Status</label>
                            <md-select ng-model="vm.task.status">
                                <md-option ng-repeat="s in vm.statuses" value="{{s.value}}">
                                    {{s.text}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="fullwidth">
                            <label>Type</label>
                            <md-select ng-model="vm.task.type">
                                <md-option ng-repeat="t in vm.types" value="{{t.value}}">
                                    {{t.text}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="fullwidth">
                            <label>Contractor</label>
                            <md-select placeholder="Assign to contractor" ng-model="vm.task._contractor" md-on-close="vm.clearUserSearchTerm()"
                                       data-md-container-class="selectdemoSelectHeader">
                                <md-select-header class="demo-select-header">
                                    <input ng-model="vm.userSearchTerm"
                                           type="search"
                                           placeholder="Search for user..."
                                           class="demo-header-searchbox _md-text"
                                           ng-keydown="vm.onSearchChange($event)">
                                </md-select-header>
                                <md-option ng-value="user" ng-repeat="user in vm.users | userFullNameFilter:vm.userSearchTerm">
                                    {{user.name.last + ' ' + user.name.first}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="fullwidth">
                            <label>Project</label>
                            <md-select placeholder="Assign to project" ng-model="vm.task._project" md-on-close="vm.clearProjectSearchTerm()"
                                       data-md-container-class="selectdemoSelectHeader">
                                <md-select-header class="demo-select-header">
                                    <input ng-model="vm.projectSearchTerm"
                                           type="search"
                                           placeholder="Search for project..."
                                           class="demo-header-searchbox _md-text"
                                           ng-keydown="vm.onSearchChange($event)">
                                </md-select-header>
                                <md-option ng-value="project" ng-repeat="project in vm.projects">
                                    {{project.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                    </div>
                    <div class="col-md-7">
                        <md-input-container>
                            <label>Description</label>
                            <textarea ng-model="vm.task.description" rows="7" cols="40" required></textarea>
                        </md-input-container>
                    </div>

                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>

            <md-button type="button" ng-click="vm.cancel()">Cancel</md-button>
            <button type="submit" class="md-button md-raised md-primary" ng-click="vm.save()">Save</button>
        </md-dialog-actions>
    </form>
</md-dialog>