<div class="modal-header taskmgr-modal-header">
    <span aria-hidden="true" class="glyphicon glyphicon-edit pull-right" style="font-size: 2.1em;"></span>
    <h3 class="modal-title" editable-text="vm.task.title">
        {{vm.task.title}}
    </h3>
</div>
<div class="modal-body">
    <div class="row">

        <div class="col-md-5">
            <div class="row">
                <div class="col-lg-12">
                    <label>Start date</label>
                    <br />
                    <a href="#" editable-bsdate="vm.startDatePopup.selectedDate" e-is-open="vm.startDatePopup.opened" 
                       e-ng-click="vm.openStartDatePopup()" e-datepicker-popup="dd/MM/yyyy">
                        {{ (vm.startDatePopup.selectedDate | date:"dd/MM/yyyy") || 'empty' }}
                    </a>
                </div>
                <div class="col-lg-12">
                    <label>End date</label>
                    <br />
                    <a href="#" editable-bsdate="vm.endDatePopup.selectedDate" e-is-open="vm.endDatePopup.opened"
                       e-ng-click="vm.openEndDatePopup()" e-datepicker-popup="dd/MM/yyyy">
                        {{ (vm.endDatePopup.selectedDate | date:"dd/MM/yyyy") || 'empty' }}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label>Status</label>
                    <br />
                    <a href="#" editable-select="vm.task.status" e-ng-options="s.value as s.text for s in vm.statuses">
                        {{ vm.showStatus() }}
                    </a>
                </div>
                <div class="col-lg-12">
                    <label>Type</label>
                    <br />
                    <a href="#" editable-select="vm.task.type" e-ng-options="s.value as s.text for s in vm.types">
                        {{ vm.showType() }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <label>Description</label>
            <a href="#" editable-textarea="vm.task.description" e-rows="7" e-cols="40">
                <pre>{{ vm.task.description || 'no description' }}</pre>
            </a>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
    <button class="btn btn-success btn-lg" type="button" ng-click="vm.save()">Save</button>
</div>
_id: string, title: string, description: string, type: number, status: number, creationDate: Date, startDate: Date, endDate:
Date, _project: any, _creator: string, _contractor: string, __v: number