<div class="row">
    <div class="col-md-3">
        <h2>UNRESOLVED</h2>
        <div tasks-directive tasks="vm.tasksUnresolved" set-selected-task="vm.setSelectedTask(task)"></div>
    </div>
    <div class="col-md-3">
        <h2>TO DO</h2>
        <div tasks-directive tasks="vm.tasksToDo" set-selected-task="vm.setSelectedTask(task)"></div>
    </div>
    <div class="col-md-3">
        <h2>IN PROGRESS</h2>
        <div tasks-directive tasks="vm.tasksInProgress" set-selected-task="vm.setSelectedTask(task)"></div>
    </div>
    <div class="col-md-3">
        <h2>DONE</h2>
        <div tasks-directive tasks="vm.tasksDone" set-selected-task="vm.setSelectedTask(task)"></div>
    </div>
</div>